<%- include("template/head", {tituloweb: "pagina de Inicio"}) %>
<%- include("template/sidebar") %>
<div class="container bg-dark text-light" style="margin-left: 60px;">
    <div class="row">
        <div class="col">
            <form id="frmNuevoRegistro" class="border border-light p-4">

                <p class="h3 mb-4 text-left">Nueva Orden</p>

                <input type="text" id="nombres" class="form-control mb-4 bg-dark text-light" placeholder="Nombres" required>

                <input type="text" id="apellidos" class="form-control mb-4 bg-dark text-light focus-light" placeholder="Apellidos" required> 

                <div class="input-group mb-3">
                  <input id="orden" type="text" class="form-control mb-4 bg-dark text-light" placeholder="Orden" aria-label="Recipient's username" aria-describedby="basic-addon2" required readonly>
                  <div class="input-group-append" style="margin-left: 10px;">
                    <button id="reiniciar" class="btn btn-outline-light" type="button" onclick="gestorOrdenes.reiniciarForm()">Eliminar</button>
                  </div>
                </div>
                
                <div class="container w-25 mb-2 p-9 border border-light float-end">TOTAL <div class="text-center d-flex flex-row"> $ <div id="total" class="text-center"> 0 </div></div></div>
                <br><br><br>
                <div class="container-md">
                  <div class="row row-cols-3">
                    <% comidas.forEach(function(comida) { %>
                    <div class="col border border-light p-3">
                      <div class="card bg-dark text-light">
                        <div class="card-body">
                          <h5 class="card-title font-weight-bold"><%= comida.producto %></h5>
                          <br>
                          <a href="#" class="btn btn-primary"onclick="Agregar<%= comida.CDP %>()">Agregar</a>
                        </div>
                      </div>
                    </div>
                    <% }); %>
                  </div>
                </div>
                <button id="btnCrearRegistro" class="btn w-100 btn-success btn-block my-4" type="submit">Crear Orden</button>
            </form>
        </div>
    </div>
</div>

      
</div>
<div class="toast" id="EpicToast" role="alert" aria-live="assertive" aria-atomic="true" style="position: absolute; top: 2px; right: 10px;">

  
  <div class="toast-body bg-dark text-light border border-light">
      La orden se genero con exito!
  </div>
</div>

<%- include("template/footer") %>